 <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <%= image_tag("icon_doctor.png") %>
                    <div class="intro-text">
                        <span class="name">The data you need to succeed</span>
                        <hr class="star-light">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                    <%= image_tag("icon_heart.png") %>
                    </div>
                    <div class="col-lg-8">
                    <h3>Gunnr anonymously collects academic data from medical students, and aggregates it for public consumption. <br><br>Lub dub.</h3>
                    </div>
                </div><!--/row-->
            </div><!--/container-->
        </section><!--/section-->
        
        <section class="success">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                     <h3 class="intro-copy">Remember when you were studying for Step 1 and trying to predict your score?</h3> 

                     <h3 class="intro-copy">Gunnr is designed to give the next generation of medical students real, actual <i>information</i> to make <i>informed decisions</i>, replacing the fuel of pure speculation of years past. It's time for a taste of some of that evidence based medicine.</h3>
                    </div>
                    <div class="col-lg-4">
                    <%= image_tag("icon_brain.png") %>
                    </div>
                </div><!--/row-->
            </div><!--/container-->
        </section><!--/section-->
        
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                    <br>
                    <%= link_to 'Share data', new_submitter_registration_path, class: "btn btn-lg btn-primary btn-block" %>
                    <br><br><br><br><br>
                    <%= link_to 'Get data', new_user_session_path, class: "btn btn-lg btn-primary btn-block" %>
                    </div>
                    <div class="col-lg-8">
                    <h3 class="intro-copy">If you've <strong>taken</strong> USMLE Step 1, share the wealth. Submit your USMLE World scores and your final Step 1 score, so those gearing up to take the exam know where they stand while they prepare. It's completely <a href="#privacy">anonymous.</a></h3>

                    <h3 class="intro-copy">If you're <strong>preparing</strong> for USMLE Step 1, sign up for a beta account to see how others fared on the exam based on their USMLE World scores.</h3>
                    </div>
                </div><!--/row-->
            </div><!--/container-->
        </section><!--/section-->

        <section class="success" id="privacy">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <h2>Anonymous,<br>not anonymized.</h2>
                        <h3 class="intro-copy">In order to see data other people have submitted, we ask you to sign up with your email address like every other site on the Internet. We promise to protect your personal information and not spam you.</h3>
                        <h3 class="intro-copy">However! In order to <i>submit</i> your scores, we <i>will not accept</i> your email address, name, or any other identifying information. Instead, we assign you a secret, random 8 digit code, and associate your scores with that code alone.</h3>

                        <h3 class="intro-copy">If for some reason you need to modify the information you submitted, you can log back in with your secret code. If you lose the code, you can't get it back, because it's not tied to any other information about you.</h3>
                    </div>
                    <div class="col-lg-4">
                    </div>
                </div><!--/row-->
            </div><!--/container-->
        </section><!--/section-->

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Want to talk? <a href="mailto:hello@gunnr.co">hello@gunnr.co</a>
                        <br>Copyright &copy; Gunnr 2015
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visble-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
