<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
<% elsif submitter_signed_in? %>
  <li><%= link_to 'Sign out', destroy_submitter_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Get Data', new_user_session_path %></li>
  <li><%= link_to 'Share Data', new_submitter_registration_path %></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Dashboard', users_path %></li>
<% end %>